.btn-toolbar {
	margin-bottom: 20px;
}


.nav-tabs {
	margin-bottom: 20px;
}


.form-group.required > label {
	position: relative;
}
.form-group.required > label.control-label:after {
	color: #a94442;
	content: '*';
	display: inline-block;
	margin-right: -10px;
	width: 10px;
}


.dropdown-submenu {
    position:relative;
}
.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px 6px;
    border-radius: 0 6px 6px 6px;
}
.dropdown-submenu:hover > .dropdown-menu {
    display: block;
}
.dropdown-submenu > a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #cccccc;
    margin-top: 5px;
    margin-right: -10px;
}
.dropdown-submenu:hover > a:after {
    border-left-color: #ffffff;
}
.dropdown-submenu.pull-left {
    float: none;
}
.dropdown-submenu.pull-left > .dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}


.ui-widget {
	font-family: inherit;
}
.ui-menu {
	font-size: 14px;
	text-align: left;
	list-style: none;
	background-color: #fff;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, .15);
	border-radius: 4px;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
	box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
	padding: 5px 0;
}
.ui-menu .ui-menu-item {
	color: #333;
	font-weight: normal;
	line-height: 1.42857143;
	list-style: none;
	padding: 3px 20px;
	white-space: nowrap;
}
.ui-menu .ui-state-focus,
.ui-menu .ui-state-active {
	background: #f5f5f5!important;
	border: none;
	color: #262626;
	margin: 0;
}
