.btn-toolbar {
	margin-bottom: 20px;
}

.nav-tabs {
	margin-bottom: 20px;
}

.form-group.required > label {
	position: relative;
}
.form-group.required > label.control-label:after {
	color: #a94442;
	content: '*';
	display: inline-block;
	margin-right: -10px;
	width: 10px;
}
